body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 18px;
    color:rgb(62, 36, 158);
    background-color:rgb(190, 152, 251);
}
h1 {
    font-size: 2em;
    font-weight: italic;
    color:#2F4F4F;
}
p {
    line-height: 1.5;
    text-align: center;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background-color:#ccc6b7;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.logo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-size: 24px;
    font-weight: bold;
    color: #fff4e1;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}
.nav-links li a {
    text-decoration: none;
    color:rgb(79, 127, 199);
    font-weight: 500;
}
.nav-links li a:hover {
    color:#614a77;
}
